/* Official Space CSS
  By Oluwatobi Ishola and Folorunso Adesanya
  v1.0.0 - 2020
*/

/* TRADITIONAL WIDTH & HEIGHT STARTS*/
.sp-w-20 {
  width: 20% !important;
}

.sp-w-30 {
  width: 30% !important;
}

.sp-w-40 {
  width: 40% !important;
}

.sp-w-50 {
  width: 50% !important;
}

.sp-w-60 {
  width: 60% !important;
}

.sp-w-70 {
  width: 70% !important;
}

.sp-w-80 {
  width: 80% !important;
}

.sp-w-90 {
  width: 90% !important;
}

.sp-w-100 {
  width: 100% !important;
}

.sp-w-auto {
  width: auto !important;
}

.sp-h-10 {
  height: 10% !important;
}

.sp-h-20 {
  height: 20% !important;
}

.sp-h-30 {
  height: 30% !important;
}

.sp-h-40 {
  height: 40% !important;
}

.sp-h-50 {
  height: 50% !important;
}

.sp-h-60 {
  height: 60% !important;
}

.sp-h-70 {
  height: 70% !important;
}

.sp-h-80 {
  height: 80% !important;
}

.sp-h-90 {
  height: 90% !important;
}

.sp-h-100 {
  height: 100% !important;
}

.sp-h-auto {
  height: auto !important;
}

.sp-mw-100 {
  max-width: 100% !important;
}

.sp-mh-100 {
  max-height: 100% !important;
}

.sp-min-vw-100 {
  min-width: 100vw !important;
}

.sp-min-vh-100 {
  min-height: 100vh !important;
}

.sp-vw-100 {
  width: 100vw !important;
}

.sp-vh-100 {
  height: 100vh !important;
}

/* TRADITIONAL WIDTH & HEIGHT STOPS */

/* MARGIN STARTS */

.sp-m-0 {
  margin: 0 !important;
}

.sp-mt-0,
.sp-my-0 {
  margin-top: 0 !important;
}

.sp-mr-0,
.sp-mx-0 {
  margin-right: 0 !important;
}

.sp-mb-0,
.sp-my-0 {
  margin-bottom: 0 !important;
}

.sp-ml-0,
.sp-mx-0 {
  margin-left: 0 !important;
}

.sp-m-1 {
  margin: 0.25rem !important;
}

.sp-mt-1,
.sp-my-1 {
  margin-top: 0.25rem !important;
}

.sp-mr-1,
.sp-mx-1 {
  margin-right: 0.25rem !important;
}

.sp-mb-1,
.sp-my-1 {
  margin-bottom: 0.25rem !important;
}

.sp-ml-1,
.sp-mx-1 {
  margin-left: 0.25rem !important;
}

.sp-m-2 {
  margin: 0.5rem !important;
}

.sp-mt-2,
.sp-my-2 {
  margin-top: 0.5rem !important;
}

.sp-mr-2,
.sp-mx-2 {
  margin-right: 0.5rem !important;
}

.sp-mb-2,
.sp-my-2 {
  margin-bottom: 0.5rem !important;
}

.sp-ml-2,
.sp-mx-2 {
  margin-left: 0.5rem !important;
}

.sp-m-3 {
  margin: 1rem !important;
}

.sp-mt-3,
.sp-my-3 {
  margin-top: 1rem !important;
}

.sp-mr-3,
.sp-mx-3 {
  margin-right: 1rem !important;
}

.sp-mb-3,
.sp-my-3 {
  margin-bottom: 1rem !important;
}

.sp-ml-3,
.sp-mx-3 {
  margin-left: 1rem !important;
}

.sp-m-4 {
  margin: 1.5rem !important;
}

.sp-mt-4,
.sp-my-4 {
  margin-top: 1.5rem !important;
}

.sp-mr-4,
.sp-mx-4 {
  margin-right: 1.5rem !important;
}

.sp-mb-4,
.sp-my-4 {
  margin-bottom: 1.5rem !important;
}

.sp-ml-4,
.sp-mx-4 {
  margin-left: 1.5rem !important;
}

.sp-m-5 {
  margin: 3rem !important;
}

.sp-mt-5,
.sp-my-5 {
  margin-top: 3rem !important;
}

.sp-mr-5,
.sp-mx-5 {
  margin-right: 3rem !important;
}

.sp-mb-5,
.sp-my-5 {
  margin-bottom: 3rem !important;
}

.sp-ml-5,
.sp-mx-5 {
  margin-left: 3rem !important;
}

.sp-m-6 {
  margin: 4rem !important;
}

.sp-mt-6,
.sp-my-6 {
  margin-top: 4rem !important;
}

.sp-mr-6,
.sp-mx-6 {
  margin-right: 4rem !important;
}

.sp-mb-6,
.sp-my-6 {
  margin-bottom: 4rem !important;
}

.sp-ml-6,
.sp-mx-6 {
  margin-left: 4rem !important;
}

.sp-m-7 {
  margin: 5rem !important;
}

.sp-mt-7,
.sp-my-7 {
  margin-top: 5rem !important;
}

.sp-mr-7,
.sp-mx-7 {
  margin-right: 5rem !important;
}

.sp-mb-7,
.sp-my-7 {
  margin-bottom: 5rem !important;
}

.sp-ml-7,
.sp-mx-7 {
  margin-left: 5rem !important;
}

.sp-m-8 {
  margin: 6rem !important;
}

.sp-mt-8,
.sp-my-8 {
  margin-top: 6rem !important;
}

.sp-mr-8,
.sp-mx-8 {
  margin-right: 6rem !important;
}

.sp-mb-8,
.sp-my-8 {
  margin-bottom: 6rem !important;
}

.sp-ml-8,
.sp-mx-8 {
  margin-left: 6rem !important;
}

.sp-m-9 {
  margin: 7rem !important;
}

.sp-mt-9,
.sp-my-9 {
  margin-top: 7rem !important;
}

.sp-mr-9,
.sp-mx-9 {
  margin-right: 7rem !important;
}

.sp-mb-9,
.sp-my-9 {
  margin-bottom: 7rem !important;
}

.sp-ml-9,
.sp-mx-9 {
  margin-left: 7rem !important;
}

.sp-m-10 {
  margin: 8rem !important;
}

.sp-mt-10,
.sp-my-10 {
  margin-top: 8rem !important;
}

.sp-mr-10,
.sp-mx-10 {
  margin-right: 8rem !important;
}

.sp-mb-10,
.sp-my-10 {
  margin-bottom: 8rem !important;
}

.sp-ml-10,
.sp-mx-10 {
  margin-left: 8rem !important;
}

.sp-m-auto {
  margin: auto !important;
}

.sp-mt-auto,
.sp-my-auto {
  margin-top: auto !important;
}

.sp-mr-auto,
.sp-mx-auto {
  margin-right: auto !important;
}

.sp-mb-auto,
.sp-my-auto {
  margin-bottom: auto !important;
}

.sp-ml-auto,
.sp-mx-auto {
  margin-left: auto !important;
}
/* MARGIN STOPS */

/*PADDING STARTS*/
.sp-p-0 {
  padding: 0 !important;
}

.sp-pt-0,
.sp-py-0 {
  padding-top: 0 !important;
}

.sp-pr-0,
.sp-px-0 {
  padding-right: 0 !important;
}

.sp-pb-0,
.sp-py-0 {
  padding-bottom: 0 !important;
}

.sp-pl-0,
.sp-px-0 {
  padding-left: 0 !important;
}

.sp-p-1 {
  padding: 0.25rem !important;
}

.sp-pt-1,
.sp-py-1 {
  padding-top: 0.25rem !important;
}

.sp-pr-1,
.sp-px-1 {
  padding-right: 0.25rem !important;
}

.sp-pb-1,
.sp-py-1 {
  padding-bottom: 0.25rem !important;
}

.sp-pl-1,
.sp-px-1 {
  padding-left: 0.25rem !important;
}

.sp-p-2 {
  padding: 0.5rem !important;
}

.sp-pt-2,
.sp-py-2 {
  padding-top: 0.5rem !important;
}

.sp-pr-2,
.sp-px-2 {
  padding-right: 0.5rem !important;
}

.sp-pb-2,
.sp-py-2 {
  padding-bottom: 0.5rem !important;
}

.sp-pl-2,
.sp-px-2 {
  padding-left: 0.5rem !important;
}

.sp-p-3 {
  padding: 1rem !important;
}

.sp-pt-3,
.sp-py-3 {
  padding-top: 1rem !important;
}

.sp-pr-3,
.sp-px-3 {
  padding-right: 1rem !important;
}

.sp-pb-3,
.sp-py-3 {
  padding-bottom: 1rem !important;
}

.sp-pl-3,
.sp-px-3 {
  padding-left: 1rem !important;
}

.sp-p-4 {
  padding: 1.5rem !important;
}

.sp-pt-4,
.sp-py-4 {
  padding-top: 1.5rem !important;
}

.sp-pr-4,
.sp-px-4 {
  padding-right: 1.5rem !important;
}

.sp-pb-4,
.sp-py-4 {
  padding-bottom: 1.5rem !important;
}

.sp-pl-4,
.sp-px-4 {
  padding-left: 1.5rem !important;
}

.sp-p-5 {
  padding: 3rem !important;
}

.sp-pt-5,
.sp-py-5 {
  padding-top: 3rem !important;
}

.sp-pr-5,
.sp-px-5 {
  padding-right: 3rem !important;
}

.sp-pb-5,
.sp-py-5 {
  padding-bottom: 3rem !important;
}

.sp-pl-5,
.sp-px-5 {
  padding-left: 3rem !important;
}

.sp-p-6 {
  padding: 4rem !important;
}

.sp-pt-6,
.sp-py-6 {
  padding-top: 4rem !important;
}

.sp-pr-6,
.sp-px-6 {
  padding-right: 4rem !important;
}

.sp-pb-6,
.sp-py-6 {
  padding-bottom: 4rem !important;
}

.sp-pl-6,
.sp-px-6 {
  padding-left: 4rem !important;
}

.sp-p-7 {
  padding: 5rem !important;
}

.sp-pt-7,
.sp-py-7 {
  padding-top: 5rem !important;
}

.sp-pr-7,
.sp-px-7 {
  padding-right: 5rem !important;
}

.sp-pb-7,
.sp-py-7 {
  padding-bottom: 5rem !important;
}

.sp-pl-7,
.sp-px-7 {
  padding-left: 5rem !important;
}

.sp-p-8 {
  padding: 6rem !important;
}

.sp-pt-8,
.sp-py-8 {
  padding-top: 6rem !important;
}

.sp-pr-8,
.sp-px-8 {
  padding-right: 6rem !important;
}

.sp-pb-8,
.sp-py-8 {
  padding-bottom: 6rem !important;
}

.sp-pl-8,
.sp-px-8 {
  padding-left: 6rem !important;
}

.sp-p-9 {
  padding: 7rem !important;
}

.sp-pt-9,
.sp-py-9 {
  padding-top: 7rem !important;
}

.sp-pr-9,
.sp-px-9 {
  padding-right: 7rem !important;
}

.sp-pb-9,
.sp-py-9 {
  padding-bottom: 7rem !important;
}

.sp-pl-9,
.sp-px-9 {
  padding-left: 7rem !important;
}

.sp-p-10 {
  padding: 8rem !important;
}

.sp-pt-10,
.sp-py-10 {
  padding-top: 8rem !important;
}

.sp-pr-10,
.sp-px-10 {
  padding-right: 8rem !important;
}

.sp-pb-10,
.sp-py-10 {
  padding-bottom: 8rem !important;
}

.sp-pl-10,
.sp-px-10 {
  padding-left: 8rem !important;
}
/* PADDING STOPS */

/* MEDIA QUERY FOR [SM] SCREENS START*/
@media (min-width: 576px) {
  .sp-m-sm-0 {
    margin: 0 !important;
  }
  .sp-mt-sm-0,
  .sp-my-sm-0 {
    margin-top: 0 !important;
  }
  .sp-mr-sm-0,
  .sp-mx-sm-0 {
    margin-right: 0 !important;
  }
  .sp-mb-sm-0,
  .sp-my-sm-0 {
    margin-bottom: 0 !important;
  }
  .sp-ml-sm-0,
  .sp-mx-sm-0 {
    margin-left: 0 !important;
  }
  .sp-m-sm-1 {
    margin: 0.25rem !important;
  }
  .sp-mt-sm-1,
  .sp-my-sm-1 {
    margin-top: 0.25rem !important;
  }
  .sp-mr-sm-1,
  .sp-mx-sm-1 {
    margin-right: 0.25rem !important;
  }
  .sp-mb-sm-1,
  .sp-my-sm-1 {
    margin-bottom: 0.25rem !important;
  }
  .sp-ml-sm-1,
  .sp-mx-sm-1 {
    margin-left: 0.25rem !important;
  }
  .sp-m-sm-2 {
    margin: 0.5rem !important;
  }
  .sp-mt-sm-2,
  .sp-my-sm-2 {
    margin-top: 0.5rem !important;
  }
  .sp-mr-sm-2,
  .sp-mx-sm-2 {
    margin-right: 0.5rem !important;
  }
  .sp-mb-sm-2,
  .sp-my-sm-2 {
    margin-bottom: 0.5rem !important;
  }
  .sp-ml-sm-2,
  .sp-mx-sm-2 {
    margin-left: 0.5rem !important;
  }
  .sp-m-sm-3 {
    margin: 1rem !important;
  }
  .sp-mt-sm-3,
  .sp-my-sm-3 {
    margin-top: 1rem !important;
  }
  .sp-mr-sm-3,
  .sp-mx-sm-3 {
    margin-right: 1rem !important;
  }
  .sp-mb-sm-3,
  .sp-my-sm-3 {
    margin-bottom: 1rem !important;
  }
  .sp-ml-sm-3,
  .sp-mx-sm-3 {
    margin-left: 1rem !important;
  }
  .sp-m-sm-4 {
    margin: 1.5rem !important;
  }
  .sp-mt-sm-4,
  .sp-my-sm-4 {
    margin-top: 1.5rem !important;
  }
  .sp-mr-sm-4,
  .sp-mx-sm-4 {
    margin-right: 1.5rem !important;
  }
  .sp-mb-sm-4,
  .sp-my-sm-4 {
    margin-bottom: 1.5rem !important;
  }
  .sp-ml-sm-4,
  .sp-mx-sm-4 {
    margin-left: 1.5rem !important;
  }
  .sp-m-sm-5 {
    margin: 3rem !important;
  }
  .sp-mt-sm-5,
  .sp-my-sm-5 {
    margin-top: 3rem !important;
  }
  .sp-mr-sm-5,
  .sp-mx-sm-5 {
    margin-right: 3rem !important;
  }
  .sp-mb-sm-5,
  .sp-my-sm-5 {
    margin-bottom: 3rem !important;
  }
  .sp-ml-sm-5,
  .sp-mx-sm-5 {
    margin-left: 3rem !important;
  }
  .sp-m-sm-6 {
    margin: 4rem !important;
  }
  .sp-mt-sm-6,
  .sp-my-sm-6 {
    margin-top: 4rem !important;
  }
  .sp-mr-sm-6,
  .sp-mx-sm-6 {
    margin-right: 4rem !important;
  }
  .sp-mb-sm-6,
  .sp-my-sm-6 {
    margin-bottom: 4rem !important;
  }
  .sp-ml-sm-6,
  .sp-mx-sm-6 {
    margin-left: 4rem !important;
  }
  .sp-m-sm-7 {
    margin: 5rem !important;
  }
  .sp-mt-sm-7,
  .sp-my-sm-7 {
    margin-top: 5rem !important;
  }
  .sp-mr-sm-7,
  .sp-mx-sm-7 {
    margin-right: 5rem !important;
  }
  .sp-mb-sm-7,
  .sp-my-sm-7 {
    margin-bottom: 5rem !important;
  }
  .sp-ml-sm-7,
  .sp-mx-sm-7 {
    margin-left: 5rem !important;
  }
  .sp-m-sm-8 {
    margin: 6rem !important;
  }
  .sp-mt-sm-8,
  .sp-my-sm-8 {
    margin-top: 6rem !important;
  }
  .sp-mr-sm-8,
  .sp-mx-sm-8 {
    margin-right: 6rem !important;
  }
  .sp-mb-sm-8,
  .sp-my-sm-8 {
    margin-bottom: 6rem !important;
  }
  .sp-ml-sm-8,
  .sp-mx-sm-8 {
    margin-left: 6rem !important;
  }
  .sp-m-sm-9 {
    margin: 7rem !important;
  }
  .sp-mt-sm-9,
  .sp-my-sm-9 {
    margin-top: 7rem !important;
  }
  .sp-mr-sm-9,
  .sp-mx-sm-9 {
    margin-right: 7rem !important;
  }
  .sp-mb-sm-9,
  .sp-my-sm-9 {
    margin-bottom: 7rem !important;
  }
  .sp-ml-sm-9,
  .sp-mx-sm-9 {
    margin-left: 7rem !important;
  }
  .sp-m-sm-10 {
    margin: 8rem !important;
  }
  .sp-mt-sm-10,
  .sp-my-sm-10 {
    margin-top: 8rem !important;
  }
  .sp-mr-sm-10,
  .sp-mx-sm-10 {
    margin-right: 8rem !important;
  }
  .sp-mb-sm-10,
  .sp-my-sm-10 {
    margin-bottom: 8rem !important;
  }
  .sp-ml-sm-10,
  .sp-mx-sm-10 {
    margin-left: 8rem !important;
  }

  /*PADDING*/
  .sp-p-sm-0 {
    padding: 0 !important;
  }
  .sp-pt-sm-0,
  .sp-py-sm-0 {
    padding-top: 0 !important;
  }
  .sp-pr-sm-0,
  .sp-px-sm-0 {
    padding-right: 0 !important;
  }
  .sp-pb-sm-0,
  .sp-py-sm-0 {
    padding-bottom: 0 !important;
  }
  .sp-pl-sm-0,
  .sp-px-sm-0 {
    padding-left: 0 !important;
  }
  .sp-p-sm-1 {
    padding: 0.25rem !important;
  }
  .sp-pt-sm-1,
  .sp-py-sm-1 {
    padding-top: 0.25rem !important;
  }
  .sp-pr-sm-1,
  .sp-px-sm-1 {
    padding-right: 0.25rem !important;
  }
  .sp-pb-sm-1,
  .sp-py-sm-1 {
    padding-bottom: 0.25rem !important;
  }
  .sp-pl-sm-1,
  .sp-px-sm-1 {
    padding-left: 0.25rem !important;
  }
  .sp-p-sm-2 {
    padding: 0.5rem !important;
  }
  .sp-pt-sm-2,
  .sp-py-sm-2 {
    padding-top: 0.5rem !important;
  }
  .sp-pr-sm-2,
  .sp-px-sm-2 {
    padding-right: 0.5rem !important;
  }
  .sp-pb-sm-2,
  .sp-py-sm-2 {
    padding-bottom: 0.5rem !important;
  }
  .sp-pl-sm-2,
  .sp-px-sm-2 {
    padding-left: 0.5rem !important;
  }
  .sp-p-sm-3 {
    padding: 1rem !important;
  }
  .sp-pt-sm-3,
  .sp-py-sm-3 {
    padding-top: 1rem !important;
  }
  .sp-pr-sm-3,
  .sp-px-sm-3 {
    padding-right: 1rem !important;
  }
  .sp-pb-sm-3,
  .sp-py-sm-3 {
    padding-bottom: 1rem !important;
  }
  .sp-pl-sm-3,
  .sp-px-sm-3 {
    padding-left: 1rem !important;
  }
  .sp-p-sm-4 {
    padding: 1.5rem !important;
  }
  .sp-pt-sm-4,
  .sp-py-sm-4 {
    padding-top: 1.5rem !important;
  }
  .sp-pr-sm-4,
  .sp-px-sm-4 {
    padding-right: 1.5rem !important;
  }
  .sp-pb-sm-4,
  .sp-py-sm-4 {
    padding-bottom: 1.5rem !important;
  }
  .sp-pl-sm-4,
  .sp-px-sm-4 {
    padding-left: 1.5rem !important;
  }
  .sp-p-sm-5 {
    padding: 3rem !important;
  }
  .sp-pt-sm-5,
  .sp-py-sm-5 {
    padding-top: 3rem !important;
  }
  .sp-pr-sm-5,
  .sp-px-sm-5 {
    padding-right: 3rem !important;
  }
  .sp-pb-sm-5,
  .sp-py-sm-5 {
    padding-bottom: 3rem !important;
  }
  .sp-pl-sm-5,
  .sp-px-sm-5 {
    padding-left: 3rem !important;
  }

  /* NEGATIVE MARGIN */
  .sp-m-sm-n1 {
    margin: -0.25rem !important;
  }
  .sp-mt-sm-n1,
  .sp-my-sm-n1 {
    margin-top: -0.25rem !important;
  }
  .sp-mr-sm-n1,
  .sp-mx-sm-n1 {
    margin-right: -0.25rem !important;
  }
  .sp-mb-sm-n1,
  .sp-my-sm-n1 {
    margin-bottom: -0.25rem !important;
  }
  .sp-ml-sm-n1,
  .sp-mx-sm-n1 {
    margin-left: -0.25rem !important;
  }
  .sp-m-sm-n2 {
    margin: -0.5rem !important;
  }
  .sp-mt-sm-n2,
  .sp-my-sm-n2 {
    margin-top: -0.5rem !important;
  }
  .sp-mr-sm-n2,
  .sp-mx-sm-n2 {
    margin-right: -0.5rem !important;
  }
  .sp-mb-sm-n2,
  .sp-my-sm-n2 {
    margin-bottom: -0.5rem !important;
  }
  .sp-ml-sm-n2,
  .sp-mx-sm-n2 {
    margin-left: -0.5rem !important;
  }
  .sp-m-sm-n3 {
    margin: -1rem !important;
  }
  .sp-mt-sm-n3,
  .sp-my-sm-n3 {
    margin-top: -1rem !important;
  }
  .sp-mr-sm-n3,
  .sp-mx-sm-n3 {
    margin-right: -1rem !important;
  }
  .sp-mb-sm-n3,
  .sp-my-sm-n3 {
    margin-bottom: -1rem !important;
  }
  .sp-ml-sm-n3,
  .sp-mx-sm-n3 {
    margin-left: -1rem !important;
  }
  .sp-m-sm-n4 {
    margin: -1.5rem !important;
  }
  .sp-mt-sm-n4,
  .sp-my-sm-n4 {
    margin-top: -1.5rem !important;
  }
  .sp-mr-sm-n4,
  .sp-mx-sm-n4 {
    margin-right: -1.5rem !important;
  }
  .sp-mb-sm-n4,
  .sp-my-sm-n4 {
    margin-bottom: -1.5rem !important;
  }
  .sp-ml-sm-n4,
  .sp-mx-sm-n4 {
    margin-left: -1.5rem !important;
  }
  .sp-m-sm-n5 {
    margin: -3rem !important;
  }
  .sp-mt-sm-n5,
  .sp-my-sm-n5 {
    margin-top: -3rem !important;
  }
  .sp-mr-sm-n5,
  .sp-mx-sm-n5 {
    margin-right: -3rem !important;
  }
  .sp-mb-sm-n5,
  .sp-my-sm-n5 {
    margin-bottom: -3rem !important;
  }
  .sp-ml-sm-n5,
  .sp-mx-sm-n5 {
    margin-left: -3rem !important;
  }
  .sp-m-sm-auto {
    margin: auto !important;
  }
  .sp-mt-sm-auto,
  .sp-my-sm-auto {
    margin-top: auto !important;
  }
  .sp-mr-sm-auto,
  .sp-mx-sm-auto {
    margin-right: auto !important;
  }
  .sp-mb-sm-auto,
  .sp-my-sm-auto {
    margin-bottom: auto !important;
  }
  .sp-ml-sm-auto,
  .sp-mx-sm-auto {
    margin-left: auto !important;
  }
}
/* MEDIA QUERY FOR [SM] SCREENS STOPS


/* MARGIN NEGATIVE STARTS */
.sp-m-n1 {
  margin: -0.25rem !important;
}

.sp-mt-n1,
.sp-my-n1 {
  margin-top: -0.25rem !important;
}

.sp-mr-n1,
.sp-mx-n1 {
  margin-right: -0.25rem !important;
}

.sp-mb-n1,
.sp-my-n1 {
  margin-bottom: -0.25rem !important;
}

.sp-ml-n1,
.sp-mx-n1 {
  margin-left: -0.25rem !important;
}

.sp-m-n2 {
  margin: -0.5rem !important;
}

.sp-mt-n2,
.sp-my-n2 {
  margin-top: -0.5rem !important;
}

.sp-mr-n2,
.sp-mx-n2 {
  margin-right: -0.5rem !important;
}

.sp-mb-n2,
.sp-my-n2 {
  margin-bottom: -0.5rem !important;
}

.sp-ml-n2,
.sp-mx-n2 {
  margin-left: -0.5rem !important;
}

.sp-m-n3 {
  margin: -1rem !important;
}

.sp-mt-n3,
.sp-my-n3 {
  margin-top: -1rem !important;
}

.sp-mr-n3,
.sp-mx-n3 {
  margin-right: -1rem !important;
}

.sp-mb-n3,
.sp-my-n3 {
  margin-bottom: -1rem !important;
}

.sp-ml-n3,
.sp-mx-n3 {
  margin-left: -1rem !important;
}

.sp-m-n4 {
  margin: -1.5rem !important;
}

.sp-mt-n4,
.sp-my-n4 {
  margin-top: -1.5rem !important;
}

.sp-mr-n4,
.sp-mx-n4 {
  margin-right: -1.5rem !important;
}

.sp-mb-n4,
.sp-my-n4 {
  margin-bottom: -1.5rem !important;
}

.sp-ml-n4,
.sp-mx-n4 {
  margin-left: -1.5rem !important;
}

.sp-m-n5 {
  margin: -3rem !important;
}

.sp-mt-n5,
.sp-my-n5 {
  margin-top: -3rem !important;
}

.sp-mr-n5,
.sp-mx-n5 {
  margin-right: -3rem !important;
}

.sp-mb-n5,
.sp-my-n5 {
  margin-bottom: -3rem !important;
}

.sp-ml-n5,
.sp-mx-n5 {
  margin-left: -3rem !important;
}

.sp-m-n6 {
  margin: -4rem !important;
}

.sp-mt-n6,
.sp-my-n6 {
  margin-top: -4rem !important;
}

.sp-mr-n6,
.sp-mx-n6 {
  margin-right: -4rem !important;
}

.sp-mb-n6,
.sp-my-n6 {
  margin-bottom: -4rem !important;
}

.sp-ml-n6,
.sp-mx-n6 {
  margin-left: -4rem !important;
}

.sp-m-n7 {
  margin: -5rem !important;
}

.sp-mt-n7,
.sp-my-n7 {
  margin-top: -5rem !important;
}

.sp-mr-n7,
.sp-mx-n7 {
  margin-right: -5rem !important;
}

.sp-mb-n7,
.sp-my-n7 {
  margin-bottom: -5rem !important;
}

.sp-ml-n7,
.sp-mx-n7 {
  margin-left: -5rem !important;
}

.sp-m-n8 {
  margin: -6rem !important;
}

.sp-mt-n8,
.sp-my-n8 {
  margin-top: -6rem !important;
}

.sp-mr-n8,
.sp-mx-n8 {
  margin-right: -6rem !important;
}

.sp-mb-n8,
.sp-my-n8 {
  margin-bottom: -6rem !important;
}

.sp-ml-n8,
.sp-mx-n8 {
  margin-left: -6rem !important;
}

.sp-m-n9 {
  margin: -7rem !important;
}

.sp-mt-n9,
.sp-my-n9 {
  margin-top: -7rem !important;
}

.sp-mr-n9,
.sp-mx-n9 {
  margin-right: -7rem !important;
}

.sp-mb-n9,
.sp-my-n9 {
  margin-bottom: -7rem !important;
}

.sp-ml-n9,
.sp-mx-n9 {
  margin-left: -7rem !important;
}

.sp-m-n10 {
  margin: -8rem !important;
}

.sp-mt-n10,
.sp-my-n10 {
  margin-top: -8rem !important;
}

.sp-mr-n10,
.sp-mx-n10 {
  margin-right: -8rem !important;
}

.sp-mb-n10,
.sp-my-n10 {
  margin-bottom: -8rem !important;
}

.sp-ml-n10,
.sp-mx-n10 {
  margin-left: -8rem !important;
}
/* MARGIN STOPS */

/* PADDING  AUTO STARTs*/
.sp-p-auto {
  padding: auto !important;
}

.sp-pt-auto,
.sp-py-auto {
  padding-top: auto !important;
}

.sp-pr-auto,
.sp-px-auto {
  padding-right: auto !important;
}

.sp-pb-auto,
.sp-py-auto {
  padding-bottom: auto !important;
}

.sp-pl-auto,
.sp-px-auto {
  padding-left: auto !important;
}
/* PADDING  AUTO  STOPS */

/* MEDIA QUERY FOR [MD] SCREENS*/
@media (min-width: 768px) {
  /* MARGIN [MD] STARTS HERE */
  .sp-m-md-0 {
    margin: 0 !important;
  }
  .sp-mt-md-0,
  .sp-my-md-0 {
    margin-top: 0 !important;
  }
  .sp-mr-md-0,
  .sp-mx-md-0 {
    margin-right: 0 !important;
  }
  .sp-mb-md-0,
  .sp-my-md-0 {
    margin-bottom: 0 !important;
  }
  .sp-ml-md-0,
  .sp-mx-md-0 {
    margin-left: 0 !important;
  }
  .sp-m-md-1 {
    margin: 0.25rem !important;
  }
  .sp-mt-md-1,
  .sp-my-md-1 {
    margin-top: 0.25rem !important;
  }
  .sp-mr-md-1,
  .sp-mx-md-1 {
    margin-right: 0.25rem !important;
  }
  .sp-mb-md-1,
  .sp-my-md-1 {
    margin-bottom: 0.25rem !important;
  }
  .sp-ml-md-1,
  .sp-mx-md-1 {
    margin-left: 0.25rem !important;
  }
  .sp-m-md-2 {
    margin: 0.5rem !important;
  }
  .sp-mt-md-2,
  .sp-my-md-2 {
    margin-top: 0.5rem !important;
  }
  .sp-mr-md-2,
  .sp-mx-md-2 {
    margin-right: 0.5rem !important;
  }
  .sp-mb-md-2,
  .sp-my-md-2 {
    margin-bottom: 0.5rem !important;
  }
  .sp-ml-md-2,
  .sp-mx-md-2 {
    margin-left: 0.5rem !important;
  }
  .sp-m-md-3 {
    margin: 1rem !important;
  }
  .sp-mt-md-3,
  .sp-my-md-3 {
    margin-top: 1rem !important;
  }
  .sp-mr-md-3,
  .sp-mx-md-3 {
    margin-right: 1rem !important;
  }
  .sp-mb-md-3,
  .sp-my-md-3 {
    margin-bottom: 1rem !important;
  }
  .sp-ml-md-3,
  .sp-mx-md-3 {
    margin-left: 1rem !important;
  }
  .sp-m-md-4 {
    margin: 1.5rem !important;
  }
  .sp-mt-md-4,
  .sp-my-md-4 {
    margin-top: 1.5rem !important;
  }
  .sp-mr-md-4,
  .sp-mx-md-4 {
    margin-right: 1.5rem !important;
  }
  .sp-mb-md-4,
  .sp-my-md-4 {
    margin-bottom: 1.5rem !important;
  }
  .sp-ml-md-4,
  .sp-mx-md-4 {
    margin-left: 1.5rem !important;
  }
  .sp-m-md-5 {
    margin: 3rem !important;
  }
  .sp-mt-md-5,
  .sp-my-md-5 {
    margin-top: 3rem !important;
  }
  .sp-mr-md-5,
  .sp-mx-md-5 {
    margin-right: 3rem !important;
  }
  .sp-mb-md-5,
  .sp-my-md-5 {
    margin-bottom: 3rem !important;
  }
  .sp-ml-md-5,
  .sp-mx-md-5 {
    margin-left: 3rem !important;
  }

  .sp-m-md-6 {
    margin: 4rem !important;
  }

  .sp-mt-md-6,
  .sp-my-md-6 {
    margin-top: 4rem !important;
  }

  .sp-mr-md-6,
  .sp-mx-md-6 {
    margin-right: 4rem !important;
  }

  .sp-mb-md-6,
  .sp-my-md-6 {
    margin-bottom: 4rem !important;
  }

  .sp-ml-md-6,
  .sp-mx-md-6 {
    margin-left: 4rem !important;
  }

  .sp-m-md-7 {
    margin: 5rem !important;
  }

  .sp-mt-md-7,
  .sp-my-md-7 {
    margin-top: 5rem !important;
  }

  .sp-mr-md-7,
  .sp-mx-md-7 {
    margin-right: 5rem !important;
  }

  .sp-mb-md-7,
  .sp-my-md-7 {
    margin-bottom: 5rem !important;
  }

  .sp-ml-md-7,
  .sp-mx-md-7 {
    margin-left: 5rem !important;
  }

  .sp-m-md-8 {
    margin: 6rem !important;
  }

  .sp-mt-md-8,
  .sp-my-md-8 {
    margin-top: 6rem !important;
  }

  .sp-mr-md-8,
  .sp-mx-md-8 {
    margin-right: 6rem !important;
  }

  .sp-mb-md-8,
  .sp-my-md-8 {
    margin-bottom: 6rem !important;
  }

  .sp-ml-md-8,
  .sp-mx-md-8 {
    margin-left: 6rem !important;
  }

  .sp-m-md-9 {
    margin: 7rem !important;
  }

  .sp-mt-md-9,
  .sp-my-md-9 {
    margin-top: 7rem !important;
  }

  .sp-mr-md-9,
  .sp-mx-md-9 {
    margin-right: 7rem !important;
  }

  .sp-mb-md-9,
  .sp-my-md-9 {
    margin-bottom: 7rem !important;
  }

  .sp-ml-md-9,
  .sp-mx-md-9 {
    margin-left: 7rem !important;
  }

  .sp-m-md-10 {
    margin: 8rem !important;
  }

  .sp-mt-md-10,
  .sp-my-md-10 {
    margin-top: 8rem !important;
  }

  .sp-mr-md-10,
  .sp-mx-md-10 {
    margin-right: 8rem !important;
  }

  .sp-mb-md-10,
  .sp-my-md-10 {
    margin-bottom: 8rem !important;
  }

  .sp-ml-md-10,
  .sp-mx-md-10 {
    margin-left: 8rem !important;
  }
  /* MARGIN [MD] STARTS HERE */

  /* PADDING [MD] STARTS */
  .sp-p-md-0 {
    padding: 0 !important;
  }
  .sp-pt-md-0,
  .sp-py-md-0 {
    padding-top: 0 !important;
  }
  .sp-pr-md-0,
  .sp-px-md-0 {
    padding-right: 0 !important;
  }
  .sp-pb-md-0,
  .sp-py-md-0 {
    padding-bottom: 0 !important;
  }
  .sp-pl-md-0,
  .sp-px-md-0 {
    padding-left: 0 !important;
  }
  .sp-p-md-1 {
    padding: 0.25rem !important;
  }
  .sp-pt-md-1,
  .sp-py-md-1 {
    padding-top: 0.25rem !important;
  }
  .sp-pr-md-1,
  .sp-px-md-1 {
    padding-right: 0.25rem !important;
  }
  .sp-pb-md-1,
  .sp-py-md-1 {
    padding-bottom: 0.25rem !important;
  }
  .sp-pl-md-1,
  .sp-px-md-1 {
    padding-left: 0.25rem !important;
  }
  .sp-p-md-2 {
    padding: 0.5rem !important;
  }
  .sp-pt-md-2,
  .sp-py-md-2 {
    padding-top: 0.5rem !important;
  }
  .sp-pr-md-2,
  .sp-px-md-2 {
    padding-right: 0.5rem !important;
  }
  .sp-pb-md-2,
  .sp-py-md-2 {
    padding-bottom: 0.5rem !important;
  }
  .sp-pl-md-2,
  .sp-px-md-2 {
    padding-left: 0.5rem !important;
  }
  .sp-p-md-3 {
    padding: 1rem !important;
  }
  .sp-pt-md-3,
  .sp-py-md-3 {
    padding-top: 1rem !important;
  }
  .sp-pr-md-3,
  .sp-px-md-3 {
    padding-right: 1rem !important;
  }
  .sp-pb-md-3,
  .sp-py-md-3 {
    padding-bottom: 1rem !important;
  }
  .sp-pl-md-3,
  .sp-px-md-3 {
    padding-left: 1rem !important;
  }
  .sp-p-md-4 {
    padding: 1.5rem !important;
  }
  .sp-pt-md-4,
  .sp-py-md-4 {
    padding-top: 1.5rem !important;
  }
  .sp-pr-md-4,
  .sp-px-md-4 {
    padding-right: 1.5rem !important;
  }
  .sp-pb-md-4,
  .sp-py-md-4 {
    padding-bottom: 1.5rem !important;
  }
  .sp-pl-md-4,
  .sp-px-md-4 {
    padding-left: 1.5rem !important;
  }
  .sp-p-md-5 {
    padding: 3rem !important;
  }
  .sp-pt-md-5,
  .sp-py-md-5 {
    padding-top: 3rem !important;
  }
  .sp-pr-md-5,
  .sp-px-md-5 {
    padding-right: 3rem !important;
  }
  .sp-pb-md-5,
  .sp-py-md-5 {
    padding-bottom: 3rem !important;
  }
  .sp-pl-md-5,
  .sp-px-md-5 {
    padding-left: 3rem !important;
  }
  /* PADDING [MD] STARTS HERE */

  /* MARGIN [MD] NEGATIVE  STARTS*/
  .sp-m-md-n1 {
    margin: -0.25rem !important;
  }
  .sp-mt-md-n1,
  .sp-my-md-n1 {
    margin-top: -0.25rem !important;
  }
  .sp-mr-md-n1,
  .sp-mx-md-n1 {
    margin-right: -0.25rem !important;
  }
  .sp-mb-md-n1,
  .sp-my-md-n1 {
    margin-bottom: -0.25rem !important;
  }
  .sp-ml-md-n1,
  .sp-mx-md-n1 {
    margin-left: -0.25rem !important;
  }
  .sp-m-md-n2 {
    margin: -0.5rem !important;
  }
  .sp-mt-md-n2,
  .sp-my-md-n2 {
    margin-top: -0.5rem !important;
  }
  .sp-mr-md-n2,
  .sp-mx-md-n2 {
    margin-right: -0.5rem !important;
  }
  .sp-mb-md-n2,
  .sp-my-md-n2 {
    margin-bottom: -0.5rem !important;
  }
  .sp-ml-md-n2,
  .sp-mx-md-n2 {
    margin-left: -0.5rem !important;
  }
  .sp-m-md-n3 {
    margin: -1rem !important;
  }
  .sp-mt-md-n3,
  .sp-my-md-n3 {
    margin-top: -1rem !important;
  }
  .sp-mr-md-n3,
  .sp-mx-md-n3 {
    margin-right: -1rem !important;
  }
  .sp-mb-md-n3,
  .sp-my-md-n3 {
    margin-bottom: -1rem !important;
  }
  .sp-ml-md-n3,
  .sp-mx-md-n3 {
    margin-left: -1rem !important;
  }
  .sp-m-md-n4 {
    margin: -1.5rem !important;
  }
  .sp-mt-md-n4,
  .sp-my-md-n4 {
    margin-top: -1.5rem !important;
  }
  .sp-mr-md-n4,
  .sp-mx-md-n4 {
    margin-right: -1.5rem !important;
  }
  .sp-mb-md-n4,
  .sp-my-md-n4 {
    margin-bottom: -1.5rem !important;
  }
  .sp-ml-md-n4,
  .sp-mx-md-n4 {
    margin-left: -1.5rem !important;
  }
  .sp-m-md-n5 {
    margin: -3rem !important;
  }
  .sp-mt-md-n5,
  .sp-my-md-n5 {
    margin-top: -3rem !important;
  }
  .sp-mr-md-n5,
  .sp-mx-md-n5 {
    margin-right: -3rem !important;
  }
  .sp-mb-md-n5,
  .sp-my-md-n5 {
    margin-bottom: -3rem !important;
  }
  .sp-ml-md-n5,
  .sp-mx-md-n5 {
    margin-left: -3rem !important;
  }
  /* MARGIN MD NEGATIVE STOPS */

  /* MARGIN MD AUTO STARTS */
  .sp-m-md-auto {
    margin: auto !important;
  }
  .sp-mt-md-auto,
  .sp-my-md-auto {
    margin-top: auto !important;
  }
  .sp-mr-md-auto,
  .sp-mx-md-auto {
    margin-right: auto !important;
  }
  .sp-mb-md-auto,
  .sp-my-md-auto {
    margin-bottom: auto !important;
  }
  .sp-ml-md-auto,
  .sp-mx-md-auto {
    margin-left: auto !important;
  }
}
/* MARGIN MD AUTO  STOPS HERE */

/* MEDIA QUERY FOR [LG] SCREENS START*/
@media (min-width: 992px) {
  .sp-m-lg-0 {
    margin: 0 !important;
  }
  .sp-mt-lg-0,
  .sp-my-lg-0 {
    margin-top: 0 !important;
  }
  .sp-mr-lg-0,
  .sp-mx-lg-0 {
    margin-right: 0 !important;
  }
  .sp-mb-lg-0,
  .sp-my-lg-0 {
    margin-bottom: 0 !important;
  }
  .sp-ml-lg-0,
  .sp-mx-lg-0 {
    margin-left: 0 !important;
  }
  .sp-m-lg-1 {
    margin: 0.25rem !important;
  }
  .sp-mt-lg-1,
  .sp-my-lg-1 {
    margin-top: 0.25rem !important;
  }
  .sp-mr-lg-1,
  .sp-mx-lg-1 {
    margin-right: 0.25rem !important;
  }
  .sp-mb-lg-1,
  .sp-my-lg-1 {
    margin-bottom: 0.25rem !important;
  }
  .sp-ml-lg-1,
  .sp-mx-lg-1 {
    margin-left: 0.25rem !important;
  }
  .sp-m-lg-2 {
    margin: 0.5rem !important;
  }
  .sp-mt-lg-2,
  .sp-my-lg-2 {
    margin-top: 0.5rem !important;
  }
  .sp-mr-lg-2,
  .sp-mx-lg-2 {
    margin-right: 0.5rem !important;
  }
  .sp-mb-lg-2,
  .sp-my-lg-2 {
    margin-bottom: 0.5rem !important;
  }
  .sp-ml-lg-2,
  .sp-mx-lg-2 {
    margin-left: 0.5rem !important;
  }
  .sp-m-lg-3 {
    margin: 1rem !important;
  }
  .sp-mt-lg-3,
  .sp-my-lg-3 {
    margin-top: 1rem !important;
  }
  .sp-mr-lg-3,
  .sp-mx-lg-3 {
    margin-right: 1rem !important;
  }
  .sp-mb-lg-3,
  .sp-my-lg-3 {
    margin-bottom: 1rem !important;
  }
  .sp-ml-lg-3,
  .sp-mx-lg-3 {
    margin-left: 1rem !important;
  }
  .sp-m-lg-4 {
    margin: 1.5rem !important;
  }
  .sp-mt-lg-4,
  .sp-my-lg-4 {
    margin-top: 1.5rem !important;
  }
  .sp-mr-lg-4,
  .sp-mx-lg-4 {
    margin-right: 1.5rem !important;
  }
  .sp-mb-lg-4,
  .sp-my-lg-4 {
    margin-bottom: 1.5rem !important;
  }
  .sp-ml-lg-4,
  .sp-mx-lg-4 {
    margin-left: 1.5rem !important;
  }
  .sp-m-lg-5 {
    margin: 3rem !important;
  }
  .sp-mt-lg-5,
  .sp-my-lg-5 {
    margin-top: 3rem !important;
  }
  .sp-mr-lg-5,
  .sp-mx-lg-5 {
    margin-right: 3rem !important;
  }
  .sp-mb-lg-5,
  .sp-my-lg-5 {
    margin-bottom: 3rem !important;
  }
  .sp-ml-lg-5,
  .sp-mx-lg-5 {
    margin-left: 3rem !important;
  }
  .sp-m-lg-6 {
    margin: 4rem !important;
  }
  .sp-mt-lg-6,
  .sp-my-lg-6 {
    margin-top: 4rem !important;
  }
  .sp-mr-lg-6,
  .sp-mx-lg-6 {
    margin-right: 4rem !important;
  }
  .sp-mb-lg-6,
  .sp-my-lg-6 {
    margin-bottom: 4rem !important;
  }
  .sp-ml-lg-6,
  .sp-mx-lg-6 {
    margin-left: 4rem !important;
  }
  .sp-m-lg-7 {
    margin: 5rem !important;
  }
  .sp-mt-lg-7,
  .sp-my-lg-7 {
    margin-top: 5rem !important;
  }
  .sp-mr-lg-7,
  .sp-mx-lg-7 {
    margin-right: 5rem !important;
  }
  .sp-mb-lg-7,
  .sp-my-lg-7 {
    margin-bottom: 5rem !important;
  }
  .sp-ml-lg-7,
  .sp-mx-lg-7 {
    margin-left: 5rem !important;
  }
  .sp-m-lg-8 {
    margin: 6rem !important;
  }
  .sp-mt-lg-8,
  .sp-my-lg-8 {
    margin-top: 6rem !important;
  }
  .sp-mr-lg-8,
  .sp-mx-lg-8 {
    margin-right: 6rem !important;
  }
  .sp-mb-lg-8,
  .sp-my-lg-8 {
    margin-bottom: 6rem !important;
  }
  .sp-ml-lg-8,
  .sp-mx-lg-8 {
    margin-left: 6rem !important;
  }
  .sp-m-lg-9 {
    margin: 7rem !important;
  }
  .sp-mt-lg-9,
  .sp-my-lg-9 {
    margin-top: 7rem !important;
  }
  .sp-mr-lg-9,
  .sp-mx-lg-9 {
    margin-right: 7rem !important;
  }
  .sp-mb-lg-9,
  .sp-my-lg-9 {
    margin-bottom: 7rem !important;
  }
  .sp-ml-lg-9,
  .sp-mx-lg-9 {
    margin-left: 7rem !important;
  }
  .sp-m-lg-10 {
    margin: 8rem !important;
  }
  .sp-mt-lg-10,
  .sp-my-lg-10 {
    margin-top: 8rem !important;
  }
  .sp-mr-lg-10,
  .sp-mx-lg-10 {
    margin-right: 8rem !important;
  }
  .sp-mb-lg-10,
  .sp-my-lg-10 {
    margin-bottom: 8rem !important;
  }
  .sp-ml-lg-10,
  .sp-mx-lg-10 {
    margin-left: 8rem !important;
  }

  /*PADDING*/
  .sp-p-lg-0 {
    padding: 0 !important;
  }
  .sp-pt-lg-0,
  .sp-py-lg-0 {
    padding-top: 0 !important;
  }
  .sp-pr-lg-0,
  .sp-px-lg-0 {
    padding-right: 0 !important;
  }
  .sp-pb-lg-0,
  .sp-py-lg-0 {
    padding-bottom: 0 !important;
  }
  .sp-pl-lg-0,
  .sp-px-lg-0 {
    padding-left: 0 !important;
  }
  .sp-p-lg-1 {
    padding: 0.25rem !important;
  }
  .sp-pt-lg-1,
  .sp-py-lg-1 {
    padding-top: 0.25rem !important;
  }
  .sp-pr-lg-1,
  .sp-px-lg-1 {
    padding-right: 0.25rem !important;
  }
  .sp-pb-lg-1,
  .sp-py-lg-1 {
    padding-bottom: 0.25rem !important;
  }
  .sp-pl-lg-1,
  .sp-px-lg-1 {
    padding-left: 0.25rem !important;
  }
  .sp-p-lg-2 {
    padding: 0.5rem !important;
  }
  .sp-pt-lg-2,
  .sp-py-lg-2 {
    padding-top: 0.5rem !important;
  }
  .sp-pr-lg-2,
  .sp-px-lg-2 {
    padding-right: 0.5rem !important;
  }
  .sp-pb-lg-2,
  .sp-py-lg-2 {
    padding-bottom: 0.5rem !important;
  }
  .sp-pl-lg-2,
  .sp-px-lg-2 {
    padding-left: 0.5rem !important;
  }
  .sp-p-lg-3 {
    padding: 1rem !important;
  }
  .sp-pt-lg-3,
  .sp-py-lg-3 {
    padding-top: 1rem !important;
  }
  .sp-pr-lg-3,
  .sp-px-lg-3 {
    padding-right: 1rem !important;
  }
  .sp-pb-lg-3,
  .sp-py-lg-3 {
    padding-bottom: 1rem !important;
  }
  .sp-pl-lg-3,
  .sp-px-lg-3 {
    padding-left: 1rem !important;
  }
  .sp-p-lg-4 {
    padding: 1.5rem !important;
  }
  .sp-pt-lg-4,
  .sp-py-lg-4 {
    padding-top: 1.5rem !important;
  }
  .sp-pr-lg-4,
  .sp-px-lg-4 {
    padding-right: 1.5rem !important;
  }
  .sp-pb-lg-4,
  .sp-py-lg-4 {
    padding-bottom: 1.5rem !important;
  }
  .sp-pl-lg-4,
  .sp-px-lg-4 {
    padding-left: 1.5rem !important;
  }
  .sp-p-lg-5 {
    padding: 3rem !important;
  }
  .sp-pt-lg-5,
  .sp-py-lg-5 {
    padding-top: 3rem !important;
  }
  .sp-pr-lg-5,
  .sp-px-lg-5 {
    padding-right: 3rem !important;
  }
  .sp-pb-lg-5,
  .sp-py-lg-5 {
    padding-bottom: 3rem !important;
  }
  .sp-pl-lg-5,
  .sp-px-lg-5 {
    padding-left: 3rem !important;
  }

  /* NEGATIVE MARGIN */
  .sp-m-lg-n1 {
    margin: -0.25rem !important;
  }
  .sp-mt-lg-n1,
  .sp-my-lg-n1 {
    margin-top: -0.25rem !important;
  }
  .sp-mr-lg-n1,
  .sp-mx-lg-n1 {
    margin-right: -0.25rem !important;
  }
  .sp-mb-lg-n1,
  .sp-my-lg-n1 {
    margin-bottom: -0.25rem !important;
  }
  .sp-ml-lg-n1,
  .sp-mx-lg-n1 {
    margin-left: -0.25rem !important;
  }
  .sp-m-lg-n2 {
    margin: -0.5rem !important;
  }
  .sp-mt-lg-n2,
  .sp-my-lg-n2 {
    margin-top: -0.5rem !important;
  }
  .sp-mr-lg-n2,
  .sp-mx-lg-n2 {
    margin-right: -0.5rem !important;
  }
  .sp-mb-lg-n2,
  .sp-my-lg-n2 {
    margin-bottom: -0.5rem !important;
  }
  .sp-ml-lg-n2,
  .sp-mx-lg-n2 {
    margin-left: -0.5rem !important;
  }
  .sp-m-lg-n3 {
    margin: -1rem !important;
  }
  .sp-mt-lg-n3,
  .sp-my-lg-n3 {
    margin-top: -1rem !important;
  }
  .sp-mr-lg-n3,
  .sp-mx-lg-n3 {
    margin-right: -1rem !important;
  }
  .sp-mb-lg-n3,
  .sp-my-lg-n3 {
    margin-bottom: -1rem !important;
  }
  .sp-ml-lg-n3,
  .sp-mx-lg-n3 {
    margin-left: -1rem !important;
  }
  .sp-m-lg-n4 {
    margin: -1.5rem !important;
  }
  .sp-mt-lg-n4,
  .sp-my-lg-n4 {
    margin-top: -1.5rem !important;
  }
  .sp-mr-lg-n4,
  .sp-mx-lg-n4 {
    margin-right: -1.5rem !important;
  }
  .sp-mb-lg-n4,
  .sp-my-lg-n4 {
    margin-bottom: -1.5rem !important;
  }
  .sp-ml-lg-n4,
  .sp-mx-lg-n4 {
    margin-left: -1.5rem !important;
  }
  .sp-m-lg-n5 {
    margin: -3rem !important;
  }
  .sp-mt-lg-n5,
  .sp-my-lg-n5 {
    margin-top: -3rem !important;
  }
  .sp-mr-lg-n5,
  .sp-mx-lg-n5 {
    margin-right: -3rem !important;
  }
  .sp-mb-lg-n5,
  .sp-my-lg-n5 {
    margin-bottom: -3rem !important;
  }
  .sp-ml-lg-n5,
  .sp-mx-lg-n5 {
    margin-left: -3rem !important;
  }
  .sp-m-lg-auto {
    margin: auto !important;
  }
  .sp-mt-lg-auto,
  .sp-my-lg-auto {
    margin-top: auto !important;
  }
  .sp-mr-lg-auto,
  .sp-mx-lg-auto {
    margin-right: auto !important;
  }
  .sp-mb-lg-auto,
  .sp-my-lg-auto {
    margin-bottom: auto !important;
  }
  .sp-ml-lg-auto,
  .sp-mx-lg-auto {
    margin-left: auto !important;
  }
}
/* MEDIA QUERY FOR [LG] SCREENS STOPS */

@media (min-width: 1200px) {
  /* MARGIN [XL] STARTS HERE */

  .sp-m-xl-0 {
    margin: 0 !important;
  }
  .sp-mt-xl-0,
  .sp-my-xl-0 {
    margin-top: 0 !important;
  }
  .sp-mr-xl-0,
  .sp-mx-xl-0 {
    margin-right: 0 !important;
  }
  .sp-mb-xl-0,
  .sp-my-xl-0 {
    margin-bottom: 0 !important;
  }
  .sp-ml-xl-0,
  .sp-mx-xl-0 {
    margin-left: 0 !important;
  }
  .sp-m-xl-1 {
    margin: 0.25rem !important;
  }
  .sp-mt-xl-1,
  .sp-my-xl-1 {
    margin-top: 0.25rem !important;
  }
  .sp-mr-xl-1,
  .sp-mx-xl-1 {
    margin-right: 0.25rem !important;
  }
  .sp-mb-xl-1,
  .sp-my-xl-1 {
    margin-bottom: 0.25rem !important;
  }
  .sp-ml-xl-1,
  .sp-mx-xl-1 {
    margin-left: 0.25rem !important;
  }
  .sp-m-xl-2 {
    margin: 0.5rem !important;
  }
  .sp-mt-xl-2,
  .sp-my-xl-2 {
    margin-top: 0.5rem !important;
  }
  .sp-mr-xl-2,
  .sp-mx-xl-2 {
    margin-right: 0.5rem !important;
  }
  .sp-mb-xl-2,
  .sp-my-xl-2 {
    margin-bottom: 0.5rem !important;
  }
  .sp-ml-xl-2,
  .sp-mx-xl-2 {
    margin-left: 0.5rem !important;
  }
  .sp-m-xl-3 {
    margin: 1rem !important;
  }
  .sp-mt-xl-3,
  .sp-my-xl-3 {
    margin-top: 1rem !important;
  }
  .sp-mr-xl-3,
  .sp-mx-xl-3 {
    margin-right: 1rem !important;
  }
  .sp-mb-xl-3,
  .sp-my-xl-3 {
    margin-bottom: 1rem !important;
  }
  .sp-ml-xl-3,
  .sp-mx-xl-3 {
    margin-left: 1rem !important;
  }
  .sp-m-xl-4 {
    margin: 1.5rem !important;
  }
  .sp-mt-xl-4,
  .sp-my-xl-4 {
    margin-top: 1.5rem !important;
  }
  .sp-mr-xl-4,
  .sp-mx-xl-4 {
    margin-right: 1.5rem !important;
  }
  .sp-mb-xl-4,
  .sp-my-xl-4 {
    margin-bottom: 1.5rem !important;
  }
  .sp-ml-xl-4,
  .sp-mx-xl-4 {
    margin-left: 1.5rem !important;
  }
  .sp-m-xl-5 {
    margin: 3rem !important;
  }
  .sp-mt-xl-5,
  .sp-my-xl-5 {
    margin-top: 3rem !important;
  }
  .sp-mr-xl-5,
  .sp-mx-xl-5 {
    margin-right: 3rem !important;
  }
  .sp-mb-xl-5,
  .sp-my-xl-5 {
    margin-bottom: 3rem !important;
  }
  .sp-ml-xl-5,
  .sp-mx-xl-5 {
    margin-left: 3rem !important;
  }

  .sp-m-xl-6 {
    margin: 4rem !important;
  }

  .sp-mt-xl-6,
  .sp-my-xl-6 {
    margin-top: 4rem !important;
  }

  .sp-mr-xl-6,
  .sp-mx-xl-6 {
    margin-right: 4rem !important;
  }

  .sp-mb-xl-6,
  .sp-my-xl-6 {
    margin-bottom: 4rem !important;
  }

  .sp-ml-xl-6,
  .sp-mx-xl-6 {
    margin-left: 4rem !important;
  }

  .sp-m-xl-7 {
    margin: 5rem !important;
  }

  .sp-mt-xl-7,
  .sp-my-xl-7 {
    margin-top: 5rem !important;
  }

  .sp-mr-xl-7,
  .sp-mx-xl-7 {
    margin-right: 5rem !important;
  }

  .sp-mb-xl-7,
  .sp-my-xl-7 {
    margin-bottom: 5rem !important;
  }

  .sp-ml-xl-7,
  .sp-mx-xl-7 {
    margin-left: 5rem !important;
  }

  .sp-m-xl-8 {
    margin: 6rem !important;
  }

  .sp-mt-xl-8,
  .sp-my-xl-8 {
    margin-top: 6rem !important;
  }

  .sp-mr-xl-8,
  .sp-mx-xl-8 {
    margin-right: 6rem !important;
  }

  .sp-mb-xl-8,
  .sp-my-xl-8 {
    margin-bottom: 6rem !important;
  }

  .sp-ml-xl-8,
  .sp-mx-xl-8 {
    margin-left: 6rem !important;
  }

  .sp-m-xl-9 {
    margin: 7rem !important;
  }

  .sp-mt-xl-9,
  .sp-my-xl-9 {
    margin-top: 7rem !important;
  }

  .sp-mr-xl-9,
  .sp-mx-xl-9 {
    margin-right: 7rem !important;
  }

  .sp-mb-xl-9,
  .sp-my-xl-9 {
    margin-bottom: 7rem !important;
  }

  .sp-ml-xl-9,
  .sp-mx-xl-9 {
    margin-left: 7rem !important;
  }

  .sp-m-xl-10 {
    margin: 8rem !important;
  }

  .sp-mt-xl-10,
  .sp-my-xl-10 {
    margin-top: 8rem !important;
  }

  .sp-mr-xl-10,
  .sp-mx-xl-10 {
    margin-right: 8rem !important;
  }

  .sp-mb-xl-10,
  .sp-my-xl-10 {
    margin-bottom: 8rem !important;
  }

  .sp-ml-xl-10,
  .sp-mx-xl-10 {
    margin-left: 8rem !important;
  }
  /* MARGIN [XL] STARTS HERE */

  /* PADDING [XL] STARTS */
  .sp-p-xl-0 {
    padding: 0 !important;
  }
  .sp-pt-xl-0,
  .sp-py-xl-0 {
    padding-top: 0 !important;
  }
  .sp-pr-xl-0,
  .sp-px-xl-0 {
    padding-right: 0 !important;
  }
  .sp-pb-xl-0,
  .sp-py-xl-0 {
    padding-bottom: 0 !important;
  }
  .sp-pl-xl-0,
  .sp-px-xl-0 {
    padding-left: 0 !important;
  }
  .sp-p-xl-1 {
    padding: 0.25rem !important;
  }
  .sp-pt-xl-1,
  .sp-py-xl-1 {
    padding-top: 0.25rem !important;
  }
  .sp-pr-xl-1,
  .sp-px-xl-1 {
    padding-right: 0.25rem !important;
  }
  .sp-pb-xl-1,
  .sp-py-xl-1 {
    padding-bottom: 0.25rem !important;
  }
  .sp-pl-xl-1,
  .sp-px-xl-1 {
    padding-left: 0.25rem !important;
  }
  .sp-p-xl-2 {
    padding: 0.5rem !important;
  }
  .sp-pt-xl-2,
  .sp-py-xl-2 {
    padding-top: 0.5rem !important;
  }
  .sp-pr-xl-2,
  .sp-px-xl-2 {
    padding-right: 0.5rem !important;
  }
  .sp-pb-xl-2,
  .sp-py-xl-2 {
    padding-bottom: 0.5rem !important;
  }
  .sp-pl-xl-2,
  .sp-px-xl-2 {
    padding-left: 0.5rem !important;
  }
  .sp-p-xl-3 {
    padding: 1rem !important;
  }
  .sp-pt-xl-3,
  .sp-py-xl-3 {
    padding-top: 1rem !important;
  }
  .sp-pr-xl-3,
  .sp-px-xl-3 {
    padding-right: 1rem !important;
  }
  .sp-pb-xl-3,
  .sp-py-xl-3 {
    padding-bottom: 1rem !important;
  }
  .sp-pl-xl-3,
  .sp-px-xl-3 {
    padding-left: 1rem !important;
  }
  .sp-p-xl-4 {
    padding: 1.5rem !important;
  }
  .sp-pt-xl-4,
  .sp-py-xl-4 {
    padding-top: 1.5rem !important;
  }
  .sp-pr-xl-4,
  .sp-px-xl-4 {
    padding-right: 1.5rem !important;
  }
  .sp-pb-xl-4,
  .sp-py-xl-4 {
    padding-bottom: 1.5rem !important;
  }
  .sp-pl-xl-4,
  .sp-px-xl-4 {
    padding-left: 1.5rem !important;
  }
  .sp-p-xl-5 {
    padding: 3rem !important;
  }
  .sp-pt-xl-5,
  .sp-py-xl-5 {
    padding-top: 3rem !important;
  }
  .sp-pr-xl-5,
  .sp-px-xl-5 {
    padding-right: 3rem !important;
  }
  .sp-pb-xl-5,
  .sp-py-xl-5 {
    padding-bottom: 3rem !important;
  }
  .sp-pl-xl-5,
  .sp-px-xl-5 {
    padding-left: 3rem !important;
  }
  /* PADDING [XL] STARTS HERE */

  /* MARGIN [XL] NEGATIVE  STARTS*/
  .sp-m-xl-n1 {
    margin: -0.25rem !important;
  }
  .sp-mt-xl-n1,
  .sp-my-xl-n1 {
    margin-top: -0.25rem !important;
  }
  .sp-mr-xl-n1,
  .sp-mx-xl-n1 {
    margin-right: -0.25rem !important;
  }
  .sp-mb-xl-n1,
  .sp-my-xl-n1 {
    margin-bottom: -0.25rem !important;
  }
  .sp-ml-xl-n1,
  .sp-mx-xl-n1 {
    margin-left: -0.25rem !important;
  }
  .sp-m-xl-n2 {
    margin: -0.5rem !important;
  }
  .sp-mt-xl-n2,
  .sp-my-xl-n2 {
    margin-top: -0.5rem !important;
  }
  .sp-mr-xl-n2,
  .sp-mx-xl-n2 {
    margin-right: -0.5rem !important;
  }
  .sp-mb-xl-n2,
  .sp-my-xl-n2 {
    margin-bottom: -0.5rem !important;
  }
  .sp-ml-xl-n2,
  .sp-mx-xl-n2 {
    margin-left: -0.5rem !important;
  }
  .sp-m-xl-n3 {
    margin: -1rem !important;
  }
  .sp-mt-xl-n3,
  .sp-my-xl-n3 {
    margin-top: -1rem !important;
  }
  .sp-mr-xl-n3,
  .sp-mx-xl-n3 {
    margin-right: -1rem !important;
  }
  .sp-mb-xl-n3,
  .sp-my-xl-n3 {
    margin-bottom: -1rem !important;
  }
  .sp-ml-xl-n3,
  .sp-mx-xl-n3 {
    margin-left: -1rem !important;
  }
  .sp-m-xl-n4 {
    margin: -1.5rem !important;
  }
  .sp-mt-xl-n4,
  .sp-my-xl-n4 {
    margin-top: -1.5rem !important;
  }
  .sp-mr-xl-n4,
  .sp-mx-xl-n4 {
    margin-right: -1.5rem !important;
  }
  .sp-mb-xl-n4,
  .sp-my-xl-n4 {
    margin-bottom: -1.5rem !important;
  }
  .sp-ml-xl-n4,
  .sp-mx-xl-n4 {
    margin-left: -1.5rem !important;
  }
  .sp-m-xl-n5 {
    margin: -3rem !important;
  }
  .sp-mt-xl-n5,
  .sp-my-xl-n5 {
    margin-top: -3rem !important;
  }
  .sp-mr-xl-n5,
  .sp-mx-xl-n5 {
    margin-right: -3rem !important;
  }
  .sp-mb-xl-n5,
  .sp-my-xl-n5 {
    margin-bottom: -3rem !important;
  }
  .sp-ml-xl-n5,
  .sp-mx-xl-n5 {
    margin-left: -3rem !important;
  }
  /* MARGIN [XL] NEGATIVE STOPS */

  /* MARGIN [XL] AUTO STARTS */
  .sp-m-xl-auto {
    margin: auto !important;
  }
  .sp-mt-xl-auto,
  .sp-my-xl-auto {
    margin-top: auto !important;
  }
  .sp-mr-xl-auto,
  .sp-mx-xl-auto {
    margin-right: auto !important;
  }
  .sp-mb-xl-auto,
  .sp-my-xl-auto {
    margin-bottom: auto !important;
  }
  .sp-ml-xl-auto,
  .sp-mx-xl-auto {
    margin-left: auto !important;
  }
}
/* MARGIN [XL] AUTO  STOPS HERE */
